<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>email ejs template</title>
  </head>
  <body>

    <h1>Welcome !! <%= email %></h1>

    <p>가나다라마바사아자차카타파하</p>

  </body>
</html>
